#add-button {
	/*margin-buttom: 10px;*/
	margin-top: 10px;
	bottom: 5px;
}

tr {
	height: 20px;
	width: 90%;
	margin-left: 20px;
	margin-right: 20px;
}

th, td {
	text-align: center;
}

td {
	display: table-cell;
	vertical-align: middle;
}

ul.nav {
	height: 30px;
}

.jumbotron {
	/*height: 250px;*/
	margin-bottom: 0;
}

.category {
	width: 5%;
}

.title {
	width: 60%;
	font-weight: bold;
}

.price {
	width: 5%;
}

.location {
	width: 10%;
}

.date {
	width: 10%;
}

.stat {
	width: 10%;
}

